@model ScampusCloud.Models.Customer
@{
    ViewData["Title"] = "Add/Edit Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline mr-5">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold my-2 mr-5">
                    @*@(Model.IsEdit == true ?  "Edit Staff": "Add Staff")*@
                </h5>
                <!--end::Page Title-->
                <!--begin::Breadcrumb-->
                @* <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item">
                    <a href="" class="text-muted">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                    @(Model.IsEdit == true ? "Edit Staff": "Add Staff")
                    </li>
                    </ul>*@
                <!--end::Breadcrumb-->

            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->

    </div>
</div>
<div class="container">
    <form class="form fv-plugins-bootstrap fv-plugins-framework" asp-controller="Staff" asp-action="AddEditStaff" method="post" id="frmStaff">
        <div class="row">
            <div class="col-md-12">
                <!--begin::Card-->
                <div class="card card-custom card-sticky" id="kt_page_sticky_card">
                    <div class="card-header" style="">
                        <div class="card-title">
                            <h3 class="card-label">
                                <i class="mr-2"></i>
                                <small class=""></small>
                            </h3>
                        </div>
                        <div class="card-toolbar">
                            <a asp-controller="Staff" asp-action="ManageStaff" class="btn btn-danger font-weight-bolder mr-2">
                                <i class="flaticon2-left-arrow-1 icon-sm-nm"></i>Back
                            </a>
                            <button type="submit" class="btn btn-primary font-weight-bolder mr-2" name="saveAndContinue" value="saveAndContinue">
                                <i class="flaticon-interface-5"></i>
                                @*<span class="nav-text">@(Model.IsEdit == true ? "Update & continue": "Save & Add New")</span>*@
                            </button>
                            @*@Html.HiddenFor(x => x.IsEdit)
                            @Html.HiddenFor(x => x.Id)
                            @Html.HiddenFor(x => x.Isactive, new { id = "hdnIsActive" })
                            @Html.HiddenFor(x => x.IsEmployeePicModified, new { id = "hdnEmployeePicModified" })
                            @Html.HiddenFor(x => x.IsSignaturePicModified, new { id = "hdnSignaturePicModified" })
                            @Html.HiddenFor(x => x.EmployeePicFileType, new { id = "hdnEmployeePicFileType" })
                            @Html.HiddenFor(x => x.SignaturePicFileType, new { id = "hdnSignaturePicFileType" })*@

                            <button type="submit" name="saveAndExit" value="saveAndExit " class="btn btn-success font-weight-bolder mr-2">
                                <i class="flaticon-logout"></i>
                                @*<span class="nav-text">@(Model.IsEdit == true ? "Update & Exit": "Save & Exit")</span>*@
                            </button>
                        </div>
                    </div>
                    <div class="d-flex flex-column-fluid">
                        <!--begin::Container-->
                        @*<div class="container">*@
                            <!--begin::Card-->
                            <div class="card card-custom">
                                <!--begin::Card header-->
                                <div class="card-header card-header-tabs-line nav-tabs-line-3x">
                                    <!--begin::Toolbar-->
                                    <div class="card-toolbar">
                                        <ul class="nav nav-tabs nav-bold nav-tabs-line nav-tabs-line-3x">
                                            <!--begin::Item-->
                                            <li class="nav-item mr-3">
                                                <a class="nav-link active" data-toggle="tab" href="#kt_user_edit_tab_1">
                                                    <span class="nav-icon">
                                                        <span class="svg-icon">
                                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Layers.svg-->
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                                    <path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z" fill="#000000" fill-rule="nonzero" />
                                                                    <path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z" fill="#000000" opacity="0.3" />
                                                                </g>
                                                            </svg>
                                                            <!--end::Svg Icon-->
                                                        </span>
                                                    </span>
                                                    <span class="nav-text font-size-lg">Customer Information</span>
                                                </a>
                                            </li>
                                            <!--end::Item-->
                                            <!--begin::Item-->
                                            <li class="nav-item mr-3">
                                                <a class="nav-link" data-toggle="tab" href="#kt_user_edit_tab_2">
                                                    <span class="nav-icon">
                                                        <span class="svg-icon">
                                                            <!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                                    <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                    <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                                                                </g>
                                                            </svg>
                                                            <!--end::Svg Icon-->
                                                        </span>
                                                    </span>
                                                    <span class="nav-text font-size-lg">Customer Admin Details</span>
                                                </a>
                                            </li>
                                            <!--end::Item-->
                                            
                                        </ul>
                                    </div>
                                    <!--end::Toolbar-->
                                </div>
                                <!--end::Card header-->
                                <!--begin::Card body-->
                                <div class="card-body px-0">
                                    
                                        <div class="tab-content">
                                            <!--begin::Tab-->
                                            <div class="tab-pane show active px-7" id="kt_user_edit_tab_1" role="tabpanel">
                                                <!--begin::Row-->
                                                <div class="row">
                                                    <div class="col-xl-2"></div>
                                                    <div class="col-xl-7 my-2">
                                                        <!--begin::Row-->
                                                        <div class="row">
                                                            <label class="col-3"></label>
                                                            <div class="col-9">
                                                                <h6 class="text-dark font-weight-bold mb-10">Customer Info:</h6>
                                                            </div>
                                                        </div>
                                                        <!--end::Row-->
                                                        <!--begin::Group-->
                                                        <div class="form-group row">
                                                            <label class="col-form-label col-3 text-lg-right text-left">Avatar</label>
                                                            <div class="col-9">
                                                                <div class="image-input image-input-empty image-input-outline" id="kt_user_edit_avatar" style="background-image: url(assets/media/users/blank.png)">
                                                                    <div class="image-input-wrapper"></div>
                                                                    <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                                        <i class="fa fa-pen icon-sm text-muted"></i>
                                                                        <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" />
                                                                        <input type="hidden" name="profile_avatar_remove" />
                                                                    </label>
                                                                    <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                                                        <i class="ki ki-bold-close icon-xs text-muted"></i>
                                                                    </span>
                                                                    <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip" title="Remove avatar">
                                                                        <i class="ki ki-bold-close icon-xs text-muted"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end::Group-->
                                                        <!--begin::Group-->
                                                        <div class="form-group row">
                                                            <label class="col-form-label col-3 text-lg-right text-left">Customer Name</label>
                                                            <div class="col-9">
                                                                <input class="form-control form-control-lg form-control-solid" type="text" value="Anna" />
                                                            </div>
                                                        </div>
                                                        <!--end::Group-->
                                                        <!--begin::Group-->
                                                        <div class="form-group row">
                                                            <label class="col-form-label col-3 text-lg-right text-left">Last Name</label>
                                                            <div class="col-9">
                                                                <input class="form-control form-control-lg form-control-solid" type="text" value="Krox" />
                                                            </div>
                                                        </div>
                                                        <!--end::Group-->
                                                        <!--begin::Group-->
                                                        <div class="form-group row">
                                                            <label class="col-form-label col-3 text-lg-right text-left">Company Name</label>
                                                            <div class="col-9">
                                                                <input class="form-control form-control-lg form-control-solid" type="text" value="Loop Inc." />
                                                                <span class="form-text text-muted">If you want your invoices addressed to a company. Leave blank to use your full name.</span>
                                                            </div>
                                                        </div>
                                                        <!--end::Group-->
                                                        <!--begin::Group-->
                                                        <div class="form-group row">
                                                            <label class="col-form-label col-3 text-lg-right text-left">Contact Phone</label>
                                                            <div class="col-9">
                                                                <div class="input-group input-group-lg input-group-solid">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">
                                                                            <i class="la la-phone"></i>
                                                                        </span>
                                                                    </div>
                                                                    <input type="text" class="form-control form-control-lg form-control-solid" value="+45678967456" placeholder="Phone" />
                                                                </div>
                                                                <span class="form-text text-muted">We'll never share your email with anyone else.</span>
                                                            </div>
                                                        </div>
                                                        <!--end::Group-->
                                                        <!--begin::Group-->
                                                        <div class="form-group row">
                                                            <label class="col-form-label col-3 text-lg-right text-left">Email Address</label>
                                                            <div class="col-9">
                                                                <div class="input-group input-group-lg input-group-solid">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">
                                                                            <i class="la la-at"></i>
                                                                        </span>
                                                                    </div>
                                                                    <input type="text" class="form-control form-control-lg form-control-solid" value="anna.krox@loop.com" placeholder="Email" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end::Group-->
                                                        <!--begin::Group-->
                                                        <div class="form-group row">
                                                            <label class="col-form-label col-3 text-lg-right text-left">Company Site</label>
                                                            <div class="col-9">
                                                                <div class="input-group input-group-lg input-group-solid">
                                                                    <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Username" value="loop" />
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text">.com</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end::Group-->
                                                    </div>
                                                </div>
                                                <!--end::Row-->
                                            </div>
                                            <!--end::Tab-->
                                            <!--begin::Tab-->
                                            <div class="tab-pane px-7" id="kt_user_edit_tab_2" role="tabpanel">
                                                <!--begin::Row-->
                                                <div class="row">
                                                    <div class="col-xl-2"></div>
                                                    <div class="col-xl-7">
                                                        <div class="my-2">
                                                            <!--begin::Row-->
                                                            <div class="row">
                                                                <label class="col-form-label col-3 text-lg-right text-left"></label>
                                                                <div class="col-9">
                                                                    <h6 class="text-dark font-weight-bold mb-10">Account:</h6>
                                                                </div>
                                                            </div>
                                                            <!--end::Row-->
                                                            <!--begin::Group-->
                                                            <div class="form-group row">
                                                                <label class="col-form-label col-3 text-lg-right text-left">Username</label>
                                                                <div class="col-9">
                                                                    <div class="spinner spinner-sm spinner-success spinner-right spinner-input">
                                                                        <input class="form-control form-control-lg form-control-solid" type="text" value="nick84" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--end::Group-->
                                                            <!--begin::Group-->
                                                            <div class="form-group row">
                                                                <label class="col-form-label col-3 text-lg-right text-left">Email Address</label>
                                                                <div class="col-9">
                                                                    <div class="input-group input-group-lg input-group-solid">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text">
                                                                                <i class="la la-at"></i>
                                                                            </span>
                                                                        </div>
                                                                        <input type="text" class="form-control form-control-lg form-control-solid" value="nick.watson@loop.com" placeholder="Email" />
                                                                    </div>
                                                                    <span class="form-text text-muted">
                                                                        Email will not be publicly displayed.
                                                                        <a href="#">Learn more</a>.
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <!--end::Group-->
                                                            <!--begin::Group-->
                                                            <div class="form-group row">
                                                                <label class="col-form-label col-3 text-lg-right text-left">Language</label>
                                                                <div class="col-9">
                                                                    <select class="form-control form-control-lg form-control-solid">
                                                                        <option>Select Language...</option>
                                                                        <option value="id">Bahasa Indonesia - Indonesian</option>
                                                                        <option value="msa">Bahasa Melayu - Malay</option>
                                                                        <option value="ca">Català - Catalan</option>
                                                                        <option value="cs">Čeština - Czech</option>
                                                                        <option value="da">Dansk - Danish</option>
                                                                        <option value="de">Deutsch - German</option>
                                                                        <option value="en" selected="selected">English</option>
                                                                        <option value="en-gb">English UK - British English</option>
                                                                        <option value="es">Español - Spanish</option>
                                                                        <option value="eu">Euskara - Basque (beta)</option>
                                                                        <option value="fil">Filipino</option>
                                                                        <option value="fr">Français - French</option>
                                                                        <option value="ga">Gaeilge - Irish (beta)</option>
                                                                        <option value="gl">Galego - Galician (beta)</option>
                                                                        <option value="hr">Hrvatski - Croatian</option>
                                                                        <option value="it">Italiano - Italian</option>
                                                                        <option value="hu">Magyar - Hungarian</option>
                                                                        <option value="nl">Nederlands - Dutch</option>
                                                                        <option value="no">Norsk - Norwegian</option>
                                                                        <option value="pl">Polski - Polish</option>
                                                                        <option value="pt">Português - Portuguese</option>
                                                                        <option value="ro">Română - Romanian</option>
                                                                        <option value="sk">Slovenčina - Slovak</option>
                                                                        <option value="fi">Suomi - Finnish</option>
                                                                        <option value="sv">Svenska - Swedish</option>
                                                                        <option value="vi">Tiếng Việt - Vietnamese</option>
                                                                        <option value="tr">Türkçe - Turkish</option>
                                                                        <option value="el">Ελληνικά - Greek</option>
                                                                        <option value="bg">Български език - Bulgarian</option>
                                                                        <option value="ru">Русский - Russian</option>
                                                                        <option value="sr">Српски - Serbian</option>
                                                                        <option value="uk">Українська мова - Ukrainian</option>
                                                                        <option value="he">עִבְרִית - Hebrew</option>
                                                                        <option value="ur">اردو - Urdu (beta)</option>
                                                                        <option value="ar">العربية - Arabic</option>
                                                                        <option value="fa">فارسی - Persian</option>
                                                                        <option value="mr">मराठी - Marathi</option>
                                                                        <option value="hi">हिन्दी - Hindi</option>
                                                                        <option value="bn">বাংলা - Bangla</option>
                                                                        <option value="gu">ગુજરાતી - Gujarati</option>
                                                                        <option value="ta">தமிழ் - Tamil</option>
                                                                        <option value="kn">ಕನ್ನಡ - Kannada</option>
                                                                        <option value="th">ภาษาไทย - Thai</option>
                                                                        <option value="ko">한국어 - Korean</option>
                                                                        <option value="ja">日本語 - Japanese</option>
                                                                        <option value="zh-cn">简体中文 - Simplified Chinese</option>
                                                                        <option value="zh-tw">繁體中文 - Traditional Chinese</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <!--end::Group-->
                                                            <!--begin::Group-->
                                                            <div class="form-group row">
                                                                <label class="col-form-label col-3 text-lg-right text-left">Time Zone</label>
                                                                <div class="col-9">
                                                                    <select class="form-control form-control-lg form-control-solid">
                                                                        <option data-offset="-39600" value="International Date Line West">(GMT-11:00) International Date Line West</option>
                                                                        <option data-offset="-39600" value="Midway Island">(GMT-11:00) Midway Island</option>
                                                                        <option data-offset="-39600" value="Samoa">(GMT-11:00) Samoa</option>
                                                                        <option data-offset="-36000" value="Hawaii">(GMT-10:00) Hawaii</option>
                                                                        <option data-offset="-28800" value="Alaska">(GMT-08:00) Alaska</option>
                                                                        <option data-offset="-25200" value="Pacific Time (US &amp; Canada)">(GMT-07:00) Pacific Time (US &amp; Canada)</option>
                                                                        <option data-offset="-25200" value="Tijuana">(GMT-07:00) Tijuana</option>
                                                                        <option data-offset="-25200" value="Arizona">(GMT-07:00) Arizona</option>
                                                                        <option data-offset="-21600" value="Mountain Time (US &amp; Canada)">(GMT-06:00) Mountain Time (US &amp; Canada)</option>
                                                                        <option data-offset="-21600" value="Chihuahua">(GMT-06:00) Chihuahua</option>
                                                                        <option data-offset="-21600" value="Mazatlan">(GMT-06:00) Mazatlan</option>
                                                                        <option data-offset="-21600" value="Saskatchewan">(GMT-06:00) Saskatchewan</option>
                                                                        <option data-offset="-21600" value="Central America">(GMT-06:00) Central America</option>
                                                                        <option data-offset="-18000" value="Central Time (US &amp; Canada)">(GMT-05:00) Central Time (US &amp; Canada)</option>
                                                                        <option data-offset="-18000" value="Guadalajara">(GMT-05:00) Guadalajara</option>
                                                                        <option data-offset="-18000" value="Mexico City">(GMT-05:00) Mexico City</option>
                                                                        <option data-offset="-18000" value="Monterrey">(GMT-05:00) Monterrey</option>
                                                                        <option data-offset="-18000" value="Bogota">(GMT-05:00) Bogota</option>
                                                                        <option data-offset="-18000" value="Lima">(GMT-05:00) Lima</option>
                                                                        <option data-offset="-18000" value="Quito">(GMT-05:00) Quito</option>
                                                                        <option data-offset="-14400" value="Eastern Time (US &amp; Canada)">(GMT-04:00) Eastern Time (US &amp; Canada)</option>
                                                                        <option data-offset="-14400" value="Indiana (East)">(GMT-04:00) Indiana (East)</option>
                                                                        <option data-offset="-14400" value="Caracas">(GMT-04:00) Caracas</option>
                                                                        <option data-offset="-14400" value="La Paz">(GMT-04:00) La Paz</option>
                                                                        <option data-offset="-14400" value="Georgetown">(GMT-04:00) Georgetown</option>
                                                                        <option data-offset="-10800" value="Atlantic Time (Canada)">(GMT-03:00) Atlantic Time (Canada)</option>
                                                                        <option data-offset="-10800" value="Santiago">(GMT-03:00) Santiago</option>
                                                                        <option data-offset="-10800" value="Brasilia">(GMT-03:00) Brasilia</option>
                                                                        <option data-offset="-10800" value="Buenos Aires">(GMT-03:00) Buenos Aires</option>
                                                                        <option data-offset="-9000" value="Newfoundland">(GMT-02:30) Newfoundland</option>
                                                                        <option data-offset="-7200" value="Greenland">(GMT-02:00) Greenland</option>
                                                                        <option data-offset="-7200" value="Mid-Atlantic">(GMT-02:00) Mid-Atlantic</option>
                                                                        <option data-offset="-3600" value="Cape Verde Is.">(GMT-01:00) Cape Verde Is.</option>
                                                                        <option data-offset="0" value="Azores">(GMT) Azores</option>
                                                                        <option data-offset="0" value="Monrovia">(GMT) Monrovia</option>
                                                                        <option data-offset="0" value="UTC">(GMT) UTC</option>
                                                                        <option data-offset="3600" value="Dublin">(GMT+01:00) Dublin</option>
                                                                        <option data-offset="3600" value="Edinburgh">(GMT+01:00) Edinburgh</option>
                                                                        <option data-offset="3600" value="Lisbon">(GMT+01:00) Lisbon</option>
                                                                        <option data-offset="3600" value="London">(GMT+01:00) London</option>
                                                                        <option data-offset="3600" value="Casablanca">(GMT+01:00) Casablanca</option>
                                                                        <option data-offset="3600" value="West Central Africa">(GMT+01:00) West Central Africa</option>
                                                                        <option data-offset="7200" value="Belgrade">(GMT+02:00) Belgrade</option>
                                                                        <option data-offset="7200" value="Bratislava">(GMT+02:00) Bratislava</option>
                                                                        <option data-offset="7200" value="Budapest">(GMT+02:00) Budapest</option>
                                                                        <option data-offset="7200" value="Ljubljana">(GMT+02:00) Ljubljana</option>
                                                                        <option data-offset="7200" value="Prague">(GMT+02:00) Prague</option>
                                                                        <option data-offset="7200" value="Sarajevo">(GMT+02:00) Sarajevo</option>
                                                                        <option data-offset="7200" value="Skopje">(GMT+02:00) Skopje</option>
                                                                        <option data-offset="7200" value="Warsaw">(GMT+02:00) Warsaw</option>
                                                                        <option data-offset="7200" value="Zagreb">(GMT+02:00) Zagreb</option>
                                                                        <option data-offset="7200" value="Brussels">(GMT+02:00) Brussels</option>
                                                                        <option data-offset="7200" value="Copenhagen">(GMT+02:00) Copenhagen</option>
                                                                        <option data-offset="7200" value="Madrid">(GMT+02:00) Madrid</option>
                                                                        <option data-offset="7200" value="Paris">(GMT+02:00) Paris</option>
                                                                        <option data-offset="7200" value="Amsterdam">(GMT+02:00) Amsterdam</option>
                                                                        <option data-offset="7200" value="Berlin">(GMT+02:00) Berlin</option>
                                                                        <option data-offset="7200" value="Bern">(GMT+02:00) Bern</option>
                                                                        <option data-offset="7200" value="Rome">(GMT+02:00) Rome</option>
                                                                        <option data-offset="7200" value="Stockholm">(GMT+02:00) Stockholm</option>
                                                                        <option data-offset="7200" value="Vienna">(GMT+02:00) Vienna</option>
                                                                        <option data-offset="7200" value="Cairo">(GMT+02:00) Cairo</option>
                                                                        <option data-offset="7200" value="Harare">(GMT+02:00) Harare</option>
                                                                        <option data-offset="7200" value="Pretoria">(GMT+02:00) Pretoria</option>
                                                                        <option data-offset="10800" value="Bucharest">(GMT+03:00) Bucharest</option>
                                                                        <option data-offset="10800" value="Helsinki">(GMT+03:00) Helsinki</option>
                                                                        <option data-offset="10800" value="Kiev">(GMT+03:00) Kiev</option>
                                                                        <option data-offset="10800" value="Kyiv">(GMT+03:00) Kyiv</option>
                                                                        <option data-offset="10800" value="Riga">(GMT+03:00) Riga</option>
                                                                        <option data-offset="10800" value="Sofia">(GMT+03:00) Sofia</option>
                                                                        <option data-offset="10800" value="Tallinn">(GMT+03:00) Tallinn</option>
                                                                        <option data-offset="10800" value="Vilnius">(GMT+03:00) Vilnius</option>
                                                                        <option data-offset="10800" value="Athens">(GMT+03:00) Athens</option>
                                                                        <option data-offset="10800" value="Istanbul">(GMT+03:00) Istanbul</option>
                                                                        <option data-offset="10800" value="Minsk">(GMT+03:00) Minsk</option>
                                                                        <option data-offset="10800" value="Jerusalem">(GMT+03:00) Jerusalem</option>
                                                                        <option data-offset="10800" value="Moscow">(GMT+03:00) Moscow</option>
                                                                        <option data-offset="10800" value="St. Petersburg">(GMT+03:00) St. Petersburg</option>
                                                                        <option data-offset="10800" value="Volgograd">(GMT+03:00) Volgograd</option>
                                                                        <option data-offset="10800" value="Kuwait">(GMT+03:00) Kuwait</option>
                                                                        <option data-offset="10800" value="Riyadh">(GMT+03:00) Riyadh</option>
                                                                        <option data-offset="10800" value="Nairobi">(GMT+03:00) Nairobi</option>
                                                                        <option data-offset="10800" value="Baghdad">(GMT+03:00) Baghdad</option>
                                                                        <option data-offset="14400" value="Abu Dhabi">(GMT+04:00) Abu Dhabi</option>
                                                                        <option data-offset="14400" value="Muscat">(GMT+04:00) Muscat</option>
                                                                        <option data-offset="14400" value="Baku">(GMT+04:00) Baku</option>
                                                                        <option data-offset="14400" value="Tbilisi">(GMT+04:00) Tbilisi</option>
                                                                        <option data-offset="14400" value="Yerevan">(GMT+04:00) Yerevan</option>
                                                                        <option data-offset="16200" value="Tehran">(GMT+04:30) Tehran</option>
                                                                        <option data-offset="16200" value="Kabul">(GMT+04:30) Kabul</option>
                                                                        <option data-offset="18000" value="Ekaterinburg">(GMT+05:00) Ekaterinburg</option>
                                                                        <option data-offset="18000" value="Islamabad">(GMT+05:00) Islamabad</option>
                                                                        <option data-offset="18000" value="Karachi">(GMT+05:00) Karachi</option>
                                                                        <option data-offset="18000" value="Tashkent">(GMT+05:00) Tashkent</option>
                                                                        <option data-offset="19800" value="Chennai">(GMT+05:30) Chennai</option>
                                                                        <option data-offset="19800" value="Kolkata">(GMT+05:30) Kolkata</option>
                                                                        <option data-offset="19800" value="Mumbai">(GMT+05:30) Mumbai</option>
                                                                        <option data-offset="19800" value="New Delhi">(GMT+05:30) New Delhi</option>
                                                                        <option data-offset="19800" value="Sri Jayawardenepura">(GMT+05:30) Sri Jayawardenepura</option>
                                                                        <option data-offset="20700" value="Kathmandu">(GMT+05:45) Kathmandu</option>
                                                                        <option data-offset="21600" value="Astana">(GMT+06:00) Astana</option>
                                                                        <option data-offset="21600" value="Dhaka">(GMT+06:00) Dhaka</option>
                                                                        <option data-offset="21600" value="Almaty">(GMT+06:00) Almaty</option>
                                                                        <option data-offset="21600" value="Urumqi">(GMT+06:00) Urumqi</option>
                                                                        <option data-offset="23400" value="Rangoon">(GMT+06:30) Rangoon</option>
                                                                        <option data-offset="25200" value="Novosibirsk">(GMT+07:00) Novosibirsk</option>
                                                                        <option data-offset="25200" value="Bangkok">(GMT+07:00) Bangkok</option>
                                                                        <option data-offset="25200" value="Hanoi">(GMT+07:00) Hanoi</option>
                                                                        <option data-offset="25200" value="Jakarta">(GMT+07:00) Jakarta</option>
                                                                        <option data-offset="25200" value="Krasnoyarsk">(GMT+07:00) Krasnoyarsk</option>
                                                                        <option data-offset="28800" value="Beijing">(GMT+08:00) Beijing</option>
                                                                        <option data-offset="28800" value="Chongqing">(GMT+08:00) Chongqing</option>
                                                                        <option data-offset="28800" value="Hong Kong">(GMT+08:00) Hong Kong</option>
                                                                        <option data-offset="28800" value="Kuala Lumpur">(GMT+08:00) Kuala Lumpur</option>
                                                                        <option data-offset="28800" value="Singapore">(GMT+08:00) Singapore</option>
                                                                        <option data-offset="28800" value="Taipei">(GMT+08:00) Taipei</option>
                                                                        <option data-offset="28800" value="Perth">(GMT+08:00) Perth</option>
                                                                        <option data-offset="28800" value="Irkutsk">(GMT+08:00) Irkutsk</option>
                                                                        <option data-offset="28800" value="Ulaan Bataar">(GMT+08:00) Ulaan Bataar</option>
                                                                        <option data-offset="32400" value="Seoul">(GMT+09:00) Seoul</option>
                                                                        <option data-offset="32400" value="Osaka">(GMT+09:00) Osaka</option>
                                                                        <option data-offset="32400" value="Sapporo">(GMT+09:00) Sapporo</option>
                                                                        <option data-offset="32400" value="Tokyo">(GMT+09:00) Tokyo</option>
                                                                        <option data-offset="32400" value="Yakutsk">(GMT+09:00) Yakutsk</option>
                                                                        <option data-offset="34200" value="Darwin">(GMT+09:30) Darwin</option>
                                                                        <option data-offset="34200" value="Adelaide">(GMT+09:30) Adelaide</option>
                                                                        <option data-offset="36000" value="Canberra">(GMT+10:00) Canberra</option>
                                                                        <option data-offset="36000" value="Melbourne">(GMT+10:00) Melbourne</option>
                                                                        <option data-offset="36000" value="Sydney">(GMT+10:00) Sydney</option>
                                                                        <option data-offset="36000" value="Brisbane">(GMT+10:00) Brisbane</option>
                                                                        <option data-offset="36000" value="Hobart">(GMT+10:00) Hobart</option>
                                                                        <option data-offset="36000" value="Vladivostok">(GMT+10:00) Vladivostok</option>
                                                                        <option data-offset="36000" value="Guam">(GMT+10:00) Guam</option>
                                                                        <option data-offset="36000" value="Port Moresby">(GMT+10:00) Port Moresby</option>
                                                                        <option data-offset="36000" value="Solomon Is.">(GMT+10:00) Solomon Is.</option>
                                                                        <option data-offset="39600" value="Magadan">(GMT+11:00) Magadan</option>
                                                                        <option data-offset="39600" value="New Caledonia">(GMT+11:00) New Caledonia</option>
                                                                        <option data-offset="43200" value="Fiji">(GMT+12:00) Fiji</option>
                                                                        <option data-offset="43200" value="Kamchatka">(GMT+12:00) Kamchatka</option>
                                                                        <option data-offset="43200" value="Marshall Is.">(GMT+12:00) Marshall Is.</option>
                                                                        <option data-offset="43200" value="Auckland">(GMT+12:00) Auckland</option>
                                                                        <option data-offset="43200" value="Wellington">(GMT+12:00) Wellington</option>
                                                                        <option data-offset="46800" value="Nuku'alofa">(GMT+13:00) Nuku'alofa</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <!--end::Group-->
                                                            <!--begin::Group-->
                                                            <div class="form-group row align-items-center">
                                                                <label class="col-form-label col-3 text-lg-right text-left">Communication</label>
                                                                <div class="col-9">
                                                                    <div class="checkbox-inline">
                                                                        <label class="checkbox">
                                                                            <input type="checkbox" checked="checked" />Email
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="checkbox">
                                                                            <input type="checkbox" checked="checked" />SMS
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="checkbox">
                                                                            <input type="checkbox" />Phone
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--end::Group-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end::Row-->
                                                <div class="separator separator-dashed my-10"></div>
                                                <!--begin::Row-->
                                                <div class="row">
                                                    <div class="col-xl-2"></div>
                                                    <div class="col-xl-7">
                                                        <!--begin::Row-->
                                                        <div class="row">
                                                            <label class="col-form-label col-3 text-lg-right text-left"></label>
                                                            <div class="col-9">
                                                                <h6 class="text-dark font-weight-bold mb-10">Security:</h6>
                                                            </div>
                                                        </div>
                                                        <!--end::Row-->
                                                        <!--begin::Group-->
                                                        <div class="form-group row">
                                                            <label class="col-form-label col-3 text-lg-right text-left">Login verification</label>
                                                            <div class="col-9">
                                                                <button type="button" class="btn btn-light-primary font-weight-bold btn-sm">Setup login verification</button>
                                                                <div class="form-text text-muted mt-3">
                                                                    After you log in, you will be asked for additional information to confirm your identity and protect your account from being compromised.
                                                                    <a href="#">Learn more</a>.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end::Group-->
                                                        <!--begin::Group-->
                                                        <div class="form-group row">
                                                            <label class="col-form-label col-3 text-lg-right text-left">Password reset verification</label>
                                                            <div class="col-9">
                                                                <div class="checkbox-single">
                                                                    <label class="checkbox mb-2">
                                                                        <input type="checkbox" />Require personal information to reset your password.
                                                                        <span></span>
                                                                    </label>
                                                                </div>
                                                                <div class="form-text text-muted">
                                                                    For extra security, this requires you to confirm your email or phone number when you reset your password.
                                                                    <a href="#" class="font-weight-bold">Learn more</a>.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--end::Group-->
                                                        <!--begin::Group-->
                                                        <div class="form-group row mt-10">
                                                            <label class="col-3"></label>
                                                            <div class="col-9">
                                                                <button type="button" class="btn btn-light-danger font-weight-bold btn-sm">Deactivate your account ?</button>
                                                            </div>
                                                        </div>
                                                        <!--end::Group-->
                                                    </div>
                                                    <div class="col-xl-2"></div>
                                                </div>
                                                <!--end::Row-->
                                            </div>
                                            <!--end::Tab-->
                                            
                                        </div>
                                    
                                </div>
                                <!--begin::Card body-->
                            </div>
                            <!--end::Card-->
                        @*</div>*@
                        <!--end::Container-->
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script>
    $(function () {
         @if(TempData.ContainsKey("Message"))
        {
            @:toastr.success('@TempData["Message"]');
        }
    });

     $('.kt_datepicker').datepicker({
             format: 'mm/dd/yyyy',
            minView: 2,
            maxView: 4,
            autoclose: true
        });

     $('.kt_datepicker').datepicker()
            .on('input change', function (e) {
                var dateString = $(this).val();
                var myDate = new Date(dateString);
                var today = new Date();
                if (myDate > today) {
                    $("p").remove(".alertMsg");
                    $('#dtDOB').after('<p class="alertMsg" style="color:red;">Birth Date can not be greater than Today!</p>');
                    return false;
                }
                else {
                    $("p").remove(".alertMsg");
                }
                return true;
            });


        function loadEmpImage(input) {
            var formData = new FormData();
            var File = input.files[0];
            var extnType = input.files[0].type;
            var extn = extnType.split("/");
            formData.append("file", File);

            if (extn[1] == "png" || extn[1] == "jpg" || extn[1] == "jpeg") {

                var url = "@Url.Action("PreviewSelectedImage", "Staff")";
                $.ajax({
                    type: "POST",
                    url: url,
                    data: formData,
                    contentType: false,
                    processData: false,
                    error: function (error) {
                    },
                    success: function (data) {
                        $('#dv_EmpImag').css('background-image', 'url()');
                        $('.empimage').css('background-image', 'url(data:image/jpg;base64,' + data + ')');
                        $('#RemoveEmplImg').show();
                        $("#empImgSrc").val(data);
                        $("#hdnEmployeePicModified").val(true);
                        $("#hdnEmployeePicFileType").val(extn[1]);
                    }
                });
            }
            else {
                var $el = $('#externalEmpImgId');
                $el.wrap('<form>').closest('form').get(0).reset();
                $el.unwrap();
                toastr.error("Please select only images!");
            }
        };

        function RemoveEmpImage() {
            var defaultImg='iVBORw0KGgoAAAANSUhEUgAAAgAAAAIACAYAAAD0eNT6AAAcBUlEQVR42u3df9BddZ0f8LeZTJqmGcpQmqEsRYaissqyLKIiS0Gp47KorMu6Kyoo9Qcff1E2m6UZlmUcykSGBQRWhvVQVFSkishEShkbFWmWpYiRTW2KEdhslqEMpoxN0zSTyTzzTP84d4eICTxPnvvj3Htfrxlm/BGSh/e9nM/7fM8535MAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFPtZSKAydE0zZIkx/T+emWSVyRZkWT5Xn8dtNd/TpIdSXb2/tr7P29L8kSSJ5M8nmRLVe2RMigAwGiH/UFJTk1yepITe0P/yCSLBvRHziR5qlcGNiX5L0nWV9UOnwYoAMDgBv6hew3805KcMMBhP1ezSTYmeWCvQrDdpwUKALCwoX9IkncleU9v6C/q+I88m+ShJF9NcldVPedTBAUAmNvQX57k7CTvS/KWJEvG9B9lT5J1vTJwT1Xt8umCAgD88uA/IcnK3hn/sgn7x9uZZG2SG6tqg08bFACY9qGfJGcmWdU7258GDyS5Jsl9VeVLAAoATNXgX5LkvN7gf/WUxrApyXVJ7vB4ISgAMOmDf1GS9ydZk+RwiSRJnunlcUtVzYgDFACYtOH/pt4Z74nS2O+KwMqq+q4oQAGASRj8r0x7zftsaczJ2iSXVNWTogAFAMZx8C9LcmWST2Z8H+UblT1JbkhyZVXtFAcoADAuw//kJF9Kux8/B25rkvOr6kFRgAIAXR78S5JckeSPkyyWSF/MJrk2yeWeFgAFALo4/E/onfUfL42B2NhbDdgkClAAoCvD/4/TPsrmWv9g7U5yWZIbqmpWHKAAwKgG/9Ikn0/yXmkM1d291QDvFwAFAIY+/I9I8q14rn9UNib5nap6ShQwf4tEAAc0/E9N8iPDf6ROSPKD3hMXgAIAAx/+Fyb5XpIV0hi5w5J8v2ma80QBCgAMcvj/aZImbvbrkqVJvtI0zZWigLlzDwDMffhfneTfSqLTPpNkldcMgwIA/Rj8SfLZtFv60n03JblICQAFABYy/BelfczvAmmMlVuSfMxeAaAAwIEO/68mOVcaY+m2JB9SAmDf3AQI+/cXhv9YuyDJl3qXcAAFAOZ09v+nSS6UxNg7L8nVYoBf5hIA/PLw/2Da6/5Mjo9V1efEAAoA7G/4n5V2e1+v8p0sM2m3Db5PFKAAwAuH/0lJvp9kuTQm0s4kp1fVo6IABQD+fvgfluSv024ty+R6NskbvEAI3AQIaZpmcZKvG/5T4bAk3+q9xhkUAJhya5KcJoapcUKS68TAtHMJgGk/+z877U1/TJ/fq6q7xYACANM3/I9O8qMkB0tjKm1P8htVtVUUTCOXAJjW4b80yTcN/6l2cJKvN03j1c4oADBFrkh7LZjp9vokV4mBaeQSANN49n9ikh/EZj+0ZpO8uarWiwIFACZ3+C9Oe93/eGmwl81Jfr2q9oiCaeESANPmTwx/9uHYJJeJASsAMJln/8f1zv7d9MW+7OmtAmwWBVYAYHKG/6K0b/gz/NmfJUn+fe+7AgoATIgPp73jG17Mqb3vCkw8lwCYhrP/5UmeiL3+mZvtSV5RVc+JAisAMN5WG/7Mw8FJLhUDVgBgvM/+j0jy0yTLpME87E7yKq8NxgoAjK81hj8HYGna3SLBCgCM4dn/iUl+qOhygGaT/FpVPSYKrADAeLnad5wFHh+9JwArADBmZ/8n9c7+YaF+s6oeEgNWAGA8rBYBfXK5CLACAONx9n9M2jv/FVz6wb0AWAGAMbHKd5s+HydXigErANDts/8VSf4u7WNc0C+7k/xzuwNiBQC662LDnwFYmuTjYsAKAHTz7H9pkv+Z5BBpMADbkry8qnaLAisA0C3vNPwZoBVJ3isGFADong+JgAH7mAiYFC4BMBGapjkyyd8qtQzBq6rqcTFgBQC64f2+zwzJ+SLACgB04+w/Sf4mydHSYAi2JPkXVSUJrADAiJ1h+DNERyc5RQwoADB6lmQZtveJgHHnEgBjrWmaRUl+luRQaTBEzyX5Z1U1IwqsAMBonGL4MwKHJnmrGFAAYHTeIQJG5G0iQAGA0TlbBIzImSJgnLkHgLHVNM0xSZ6QBCP0iqp6UgxYAQBn/0yXs0SAAgDD5/o/o/ZbImBcuQTAWGqaZlmS/51kiTQYoV1J/olXBGMFAIbnZMOfDliW5DQxoADA8JwqAjriX4kABQCG53QR0BEni4Bx5B4Axk7TNEvSXv9fJg06YFeSf2xbYKwAwOCdZPjTIcuSHCcGFAAYPDdd0TUuA6AAwBC8TgR0zBtFgAIAg3e8COiY14uAceMmQMZK0zTLk/wf5ZWOmU3yj2wIhBUAGOzZv+8tXTyWHisGFAAYbAGALvIkAAoADNCvi4COeo0IUADACgBWAEABgD5ynRUFAPrAUwCMjd4TAP9XEnTUbJJ/WFV7RIEVAOivI0RAx4+nvqMoADAAR4oAJRUUABQAUABAAWAKvFwEKACgAGAFALrmV0SAAgD9d7gIsAIACgDTZ7kI6LhDRYACAP23TAT4joICgIMrdM1SEaAAgAKA7ygoAODgiu8oKADg4IrvKCgA8OKaplmcZIkkUABAAQAAFAAmWVXNJJmRBB3nVcAoAODgyhTaLQIUAHBwxXcUFABwcGUKWKVCAQAHV5RUUADAwZVpsFMEKADQf9tEQMc9JwIUAFAA8B0FBQAcXLECAAoAHIifiYCO+18iQAEAKwD4joICAA6uTIFnRYACAP33lAjouCdFgAIA/fe4COiw2SRbxYACAH1WVTviMgDd9VRV2a0SBQAGxBIrvpugADCFXAagq7aIAAUABucJEdBRPxEBCgAMzmMioKMeFQEKAAzOBhHQQbNJNooBBQAGpKqejicB6J4tvadUQAGAAXpEBHSM5X8UAHCwZQr9SAQoADB4PxABHfOwCFAAYPDcCEiX7I7LUigAMHhVtS3JJknQlbP/qtotBhQAGI7vioCO+L4IUABgeL4nAjriARGgAMBwD7ozYmDEXP9HAYBhqqqdcec1o3e/6/8oADB83xEBI/YtEaAAwPDdLQJGaDbJvWJAAYAhq6pNSTZLghHZUFXPiAEFAKwCMF0s/6MAwAh9QwSMyFoRMM5eJgLGXdM0TyQ5RhIM0aNV9VoxYAUARutOETBkXxEBCgCM3hfT3pENwzCT5A4xoADAiFXVk0nWS4IhWdd7IRUoANABnxcBQ/IlEaAAQHfclWS7GBiwbXH3PwoAdEdvP3bXZRm0W6pqjxhQAKBb/kIEDNCM7xgKAHRzFWBTkvskwYCstfUvCgB01zUiYEA+KwImiZ0AmThN0/wwyUmSoI8erqo3igErANBt14mAPrtSBCgA0H13JdkiBvpkQ1W5twQFALquqmaSfEoS9MkVIkABgPFxR5Ifi4EFejTJvWJAAYDxWQWYTXKZJFigK6tKCigAMGYl4N4kD0qCA7Qhtv1FAYCxdakIOEAXO/tHAYDxXQV4MK7hMn93VNVDYkABgDE/k0uyWwzM0a4kq8WAAgDjvwqwJckaSTBHV1XV02JAAYDJ8GdJNouBl7A1ybViQAGAyVkF2JPkE5LgJVxcVS4XoQDAhJWA+5PcLgn24/aqukcMKAAwmVYleU4MvMAzSS4SAwoATO4qwLYkH5IEL/CRqtouBhQAmOwScE+Sz0mCni942x8KAEyPVfFUAMlTSVaKAQUApmcVYFeS9yTZI42pNZPkfVW1QxQoADBdJWBjvDFwml3S2yoaFACYQtcmuUsMU+drVXWDGFAAYHpXAZLkA0k2SmNqbEryETEw7V4mAkiapjkyyQ+TrJDGRNuR5HVV9bgosAIApKqeSvK7cVPgJJtNcr7hDwoAvLAEPJSkJDGxPmarX1AAYH8l4LYk/04SE+fyqrpFDPA89wDAPjRNc12SP5LERLi5qrwJEqwAwJysSuKMcfzdGS/5ASsAMM9VgEVJvpLkvdIYS+uSvKOq3NgJVgBg7qpqNu0eAXdLY+ysNfxBAYCFlICZJO9O8mVpjI07kvy+4Q8KAPSjBHwgyZ9Jo/NuTfus/4wo4MW5BwDmoWmaP0xynfLcSTckWdnb3hlQAKDvJeDcJF9KskQanTCbZHVVXSsKUABg0CXgTUm+Hu8OGLXtSd5dVetEAQoADKsEHJHkG0lOlsZIbE7yO/b2hwPjOiYcoKp6OsnpSW6WxtDdl+QNhj9YAYBRrwacl6RJskwaAzWT5Iokn+7t0wAoADDyEnBcki8mOUkaA/FY2kf8HhUFLJxLANAnVbUpyRuTXJpkt0T6ZjbJZ5K81vAHKwDQ9dWAY5N8Pskp0liQrUk+UFXrRQFWAGAcVgM2J/mXST4tjQU7rmmapWIAKwAwDisAR6Z9pfAHkyyXyII9m+T6JDdX1U5xgAIAXRv8xyW5JO0rhBdLpO9+nuSmJDdW1c/FAQoAjHrwn5pkdZKz4tLaMOxMckuS66rqGXGAAgDDHPpJcnZv8LvZbzR2p31V89VVtUUcoADAIAf/4rRL/KuTvFoinTCT5M4ka6rqMXGAAgD9HPzLk3w47c19R0ikk2aT3JPkqqp6RBygAMBCBv+hSS5O8vEkh0hkbHy3tyLwgChAAYD5DP6j8vyjfPb4H18PJ1mT5N6qkgYoALDfwX982uv7fxCP8k2SHye5KsmdXiQECgDsPfhPS7uP/5nSmGhPJrk6yZerao84UABgOof+ojz/KN/JEpkqTye5JsmtVbVLHCgAMB2Df0mS89Lu2nesRKbac3l+m+Ht4kABgMkc/MuTfDTJyiSHS4S97Ehyc5Lrq2qbOFAAYDIG/4o8/yjfwRLhRexKcmuSa6rqaXGgAMB4Dv6j0y7zX5DEK2WZjz1Jbk+7zfDj4kABgPEY/CemvbHvnHiUj4WZTXJX2t0FN4oDBQC6OfjP6A3+t0qDAbgv7e6CD4kCBQBGP/QX9c70Vyc5SSIMwfpeEVgnChQAGP7gX5rk/Wmv8R8jEUZgQ9rdBdfaXRAFAAY/+A9Kezf/xUkOkwgdsLlXBO6oqhlxoABAfwf/YWmf3/9okoMkQgdtTbu74Beqarc4UABgYYP/lWmX+c+LR/kYD8/m+d0Fd4oDBQDmN/hfn/bGvncmWSQRxtDPk9yU5Maq+rk4UABg/0M/aR/hW53kDIn8kq5fX7bnwr7tTHJLkuuq6hlxoADA84N/cZJ39Qb/CRL5BY+kfU3xhqra0fHP8eC0j2JeFY9k7sueJLel3V1wizhQAJjmwb80yQeTrEpytER+ybokbxu3O8t7he4/xyrO/swkuTPt7oKbxIECwDQN/oPz/KN8KySyT7NJXj6uL6TpvYfhb3yML/kZ35t2U6FHxIECwCQP/iPSPsp3YZLlEnlRm6vqV8f88/7bJEf5KOfk/l4RuF8UDIMbdhjWIDg27fX99yZZIpE52e6fYaqckeSMpmkeSbImyT1VJRWsADC2g//k3uA/Ox7lm6/dSX5lXB8fa5pmRZK/i70bDtSmtDdT3ml3QawAMC4H/iQ5qzf4T5PIAVua9nLJ5WP683/U8F+Q45J8NcmVTdNcneS2qtojFqwA0MXBvzjJuWl37TteIn1bBXhVVT01Zt+Fw5P8NO7z6KdnklyX5Ba7C2IFgK4c7Jcl+XDaR/mOlEjfVwGuS/L7Y/ZzX234993hve/CpU3T3JjkpqpyjwVWABjJ4D8kySeTXJTkUIkM1OlVtX5MvhcnJ/mruOdj0HYk+VyS66vqWXGgADCMA/yRvbP9DydZJpGh2JjktV1/53zTNIuS/Nckr/eRDc3uJF9Ick1VbRUHc+USAPM5uB+X9sa+c313hu6EtDsm3trxn/M8w3/olqbdVOvCpmnuSLu74GaxYAWAfgz+U9PuRX9mLOuO0rYkr+jq+wCaplme9sa/w31UIzWbZG2vCGwQB1YAmO/BfFGSt/fO+E+RSCesSPKptJdfuugyw78TFiU5J8k5TdOsS7u74HqxYAWAlxr8S9Lu1ndJkldLpHP2JPm1qnq8Y9+bo5P8j3juv6seSru74H12F8QKAC88gC9Puz//yiRHSKSzliS5PsnbOvZzXWf4d9opSf5Tko1N01yV5K6u31CKFQAGP/hXpH2M7+NJDpHI2Pjtqvp2R75DZyT5no9krDyedq+G2+0uqAAwfYP/qLTL/BfEo3zjaHPaSwEzI/4eLU7y12m3rWX8PJ3kmiS3VtUucUwXlwCmb/CfkPbGvnf5/MfasWk3YbphxD/HhYb/WDsiyY1JLttrd8EdYrECwGQN/jf1Bv+Z0pgY29M+FvjciL5Th6R97M8ukJP1nbo5yY1VtU0cVgAY36G/KMk7e4Pf5iyT5+AkVyb52Ij+/CsM/4n8Tv1Jkj9smubWtLsLPi0WKwCMz+BfkuT9aa/xv1IiE20m7RbBPx7yd+zVSf6bk4iJtyfJ7Umu7tqjp1gB4BcPygelfQf7xbEhyzT9O3xjkjcP+c+93vFjKixJuwX1BU3T3JV2d8GNYrECQHcG/2G9of/RtEt4TJ/fq6q7h/R9e3uS/yjyqXVfrwg8KAoFgNEN/mPSLvO/PzZhmXZbk/xqVe0e8HduSdod/44R+dRbn3ab4XWiGE+W8MZz8J+U9sa+c+LlPLSOSvJHST494D/n3xj+9JyW5LSmaTYkuSrJWrsLWgFgcIP/Lb3B/xZpsA87k7yqqp4Z0PdvRZInkhwkavZhc68I3DHqDaqwAjApQ39R2k17Vic5USK8iOVpt3c9f0C//1WGPy/i2CRfSnJF0zTXJPnCoC9JYQVgUgf/0rTb9K6KJVfmbjbJb1bVw33+Pp6Y5IdxyYm5ezbt0yKfs7ugAsDcDrRL0m7xujrt+99hvh5J8oZ+vfa1aZok+cskp4qWA7A97dsir7Ui0C3afLeG/9uT/PfevyyGPwfq9WmfDOmXcw1/FuDvd6z8SdM054jDCgC/OPgXp10q+6Q06JNn0t4QuHOB381lSX6S5EiR0ie3JvmE1xBbATD8m+bQtO9SN/zpp8OTXNqH32e14U+ffTjJ93rHPqwATO3wX57k+0lOkgYDsDvt5kBbD/D7eWTv7H+ZKBmAR5O82Q2CVgCmcfgvSfJNw58BWpr2fpIDdbXhzwCdmOSbvWMhCsBUWZPkrWJgwM5pmuZNB1BQT0178x8M0lt6RZMRcAlgNGf/p6R9rEoBYxh+nOQ35rpNa2/zqR/GxlMMx2yS071cyArANAz/JWl3y5I9w3J8kgvn8esvMPwZ8hz6oksBCsA0uCB29mP4rmya5iVfFd00zUFpt/yFYTomyQfFoABM8tn/4vTn0SyYr0OTfGoOv+7y2ISK0VjdO0aiAEykc9O+thVG4ZNN0xz7IgX1mLSv+4VROCrJH4hBAZhU7xYBI7Q4yX/ovWjqhcN/WZJvJHEdllF6jwiGx1MAQ9K7/vozB1g6YEOSi5M81PvvpyT5bNz4x+jtSfJPbQ40vDMChuMsw5+OOCnJXyXZ1fvvNvuhK5YkOTPJnaIYPJcAhud1IqBjlhn+dNAbRKAATBrLqwCOlQqALzUA+3CCCIbDTYBD0LvD+v9JAmBO/kFV7RGDFYBJcLAIABwzFYDpc4gIABwzFYDps1QEAI6ZCgAAoAAAAAoAADBgtgKG6TObZG2S7/ROAn4rydudEIACAEyuPUl+t6ru2+t/u7lpmrPjbYAwVTR+mC6rXjD8kyRVdU+Sy8UDCgAweTYkuflF/v/PJHlMTKAAAJPloqqa3d//WVUzSVaKCRQAYHLcUVUPv9Qvqqp1Se4VFygAwPjblWT1PH79yrQ3CwIKADDGrqqqp+f6i6vqySQ3iA0UAGB8bU1y7QH8fWuSPCs+UACA8XRJVe2e799UVTuSXCY+UACA8bO+qu5awN9/W5JHxQgKADA+ZpNcvJDfoPfI4MWiBAUAGB+3VtXGhf4mVfVgkq+JExQAoPu2p7/b+l6S9lFCQAEAOuzKqtrWr9+s9wjh1WIFBQDorseT3DSA3/faJE+JFxQAoJtWVlXfd/GrqvnuJggoAMCQfHtfr/rto68leVDMoAAA3bEnA36TX1Ul7WOBs+IGBQDohpuravOg/5CqejTtBkGAAgCM2HNJrhjin3dpkh1iBwUAGK3Lqmr7sP6w3iOGV4odFABgdDYmuXUEf+6fJ3lS/KAAAKOxsrdn/1D1HjVcKX5QAIDhu6uqHhjVH15V9yZZ52MABQAYnt1p9+gftZVJZnwcoAAAw/GZqto66h+iqh5L8jkfBygAwOA9k2RNh36eT6V9FBFQAIABWt3bm78TqurnvRIAKADAgDyc5PYO/ly3JNnk4wEFAOi/2SQX9/bk75Sqmkn7ngBAAQD67PaqeqSrP1xV3Z9krY8JFACgf3am3YO/61alfUQRUACAPlhTVc90/Yesqi1JbvBxgQIALNy4DdU1aR9VBBQAYAFWVdXYLKtX1bhcrgAFAOis+6tqHG+suz3JIz4+UACAAzOWG+z03lB4uY8PFABg/rZU1YNj/POvi3sBQAEA5u3Jcf7hexsWbfExggIAzM/sBPwzeFUwKAAAgAIAACgAAIACAAAoAACAAgAAKAAAgAIAACgAAIACAAAoAACgAAAACgAAoAAAAAoAAKAAAAAKAACgAAAACgAAoAAAAAoAAKAAAAAKAACgAAAACgAAoAAAAAoAAKAAAIACAAAoAACAAgAAKAAAgAIAACgAAIACAAAoAACAAgAAKAAAgAIAACgAAIACAAAoAACAAgAAKAAAgAIAAAoAAKAA0Gc7RADgmKkATJ9tIgBwzFQAps/2JHvEAPCSdlXVTjEoABOhqjRaAGf/CsCU2ioCAMdKBWD6PCACgJf0fREoAJPmOyIAeEnfFYECMGkeTuLGFoD925HkETEoABOlqvZotgAval1VzYhBAZhE14sAwDFSAZi+VYD1aS8FAPCLHqyqh8SgAEyyq0QA4NioAEyfe5NouQDPW5/kPjEoABOtqmaTnB8vuwBI2q3Sz+/tmIoCMPElYEuSiyQBkE9U1VNiUACmqQR8OcltkgCm2K1VdYcYFIBp9KEkXxADMI3DP4l1fwVgalcBZnsl4CZpAFPkz5N8pHcMZEQWi2DkJSBJLmqa5qdJ1iQ5SCrAhNqR5LKqctJjBYC9isBNSV6T9jFBgEmzNslrDH8rAOy7BDyd5B1N05yZ5F8nOTvJUskAY2pXknuSfL6qvAtFAWAOReDbSb7dNM1BSd6V5I1JjkpyZJIjkiyTEtDBYf/UXn/9ZZK7q8pbUAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAuuj/Az+2NHiqmf8UAAAAAElFTkSuQmCC';
            $('#externalEmpSignImgId').val('');
            $('.empimage').css('background-image', 'none');
            $('#empImgSrc').val(defaultImg);
            $('#RemoveEmplImg').hide();
            var imageUrl = 'data:image/png;base64,'+defaultImg+'';
            $('#dv_EmpImag').css('background-image', 'url(' + imageUrl + ')');
        }

        function loadEmpSignImage(input) {
            var formData = new FormData();
            var File = input.files[0];
            var extnType = input.files[0].type;
            var extn = extnType.split("/");
            formData.append("file", File);

            if (extn[1] == "png" || extn[1] == "jpg" || extn[1] == "jpeg") {

                var url = "@Url.Action("PreviewSelectedImage", "Staff")";
                $.ajax({
                    type: "POST",
                    url: url,
                    data: formData,
                    contentType: false,
                    processData: false,
                    error: function (error) {
                    },
                    success: function (data) {
                        $('#dv_EmpSignImage').css('background-image', 'url()');
                        $('.empsignimage').css('background-image', 'url(data:image/jpg;base64,' + data + ')');
                        $('#RemoveEmplSignImage').show();
                        $("#signatureImageSrc").val(data);
                         $("#hdnSignaturePicModified").val(true);
                          $("#hdnSignaturePicFileType").val(extn[1]);
                    }
                });
            }
            else {
                var $el = $('#externalEmpSignImgId');
                $el.wrap('<form>').closest('form').get(0).reset();
                $el.unwrap();
                toastr.error("Please select only images!");
            }
        };

        function RemoveEmplSignImage() {
           var defaultImg='iVBORw0KGgoAAAANSUhEUgAAAgAAAAIACAYAAAD0eNT6AAAcBUlEQVR42u3df9BddZ0f8LeZTJqmGcpQmqEsRYaissqyLKIiS0Gp47KorMu6Kyoo9Qcff1E2m6UZlmUcykSGBQRWhvVQVFSkishEShkbFWmWpYiRTW2KEdhslqEMpoxN0zSTyTzzTP84d4eICTxPnvvj3Htfrxlm/BGSh/e9nM/7fM8535MAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFPtZSKAydE0zZIkx/T+emWSVyRZkWT5Xn8dtNd/TpIdSXb2/tr7P29L8kSSJ5M8nmRLVe2RMigAwGiH/UFJTk1yepITe0P/yCSLBvRHziR5qlcGNiX5L0nWV9UOnwYoAMDgBv6hew3805KcMMBhP1ezSTYmeWCvQrDdpwUKALCwoX9IkncleU9v6C/q+I88m+ShJF9NcldVPedTBAUAmNvQX57k7CTvS/KWJEvG9B9lT5J1vTJwT1Xt8umCAgD88uA/IcnK3hn/sgn7x9uZZG2SG6tqg08bFACY9qGfJGcmWdU7258GDyS5Jsl9VeVLAAoATNXgX5LkvN7gf/WUxrApyXVJ7vB4ISgAMOmDf1GS9ydZk+RwiSRJnunlcUtVzYgDFACYtOH/pt4Z74nS2O+KwMqq+q4oQAGASRj8r0x7zftsaczJ2iSXVNWTogAFAMZx8C9LcmWST2Z8H+UblT1JbkhyZVXtFAcoADAuw//kJF9Kux8/B25rkvOr6kFRgAIAXR78S5JckeSPkyyWSF/MJrk2yeWeFgAFALo4/E/onfUfL42B2NhbDdgkClAAoCvD/4/TPsrmWv9g7U5yWZIbqmpWHKAAwKgG/9Ikn0/yXmkM1d291QDvFwAFAIY+/I9I8q14rn9UNib5nap6ShQwf4tEAAc0/E9N8iPDf6ROSPKD3hMXgAIAAx/+Fyb5XpIV0hi5w5J8v2ma80QBCgAMcvj/aZImbvbrkqVJvtI0zZWigLlzDwDMffhfneTfSqLTPpNkldcMgwIA/Rj8SfLZtFv60n03JblICQAFABYy/BelfczvAmmMlVuSfMxeAaAAwIEO/68mOVcaY+m2JB9SAmDf3AQI+/cXhv9YuyDJl3qXcAAFAOZ09v+nSS6UxNg7L8nVYoBf5hIA/PLw/2Da6/5Mjo9V1efEAAoA7G/4n5V2e1+v8p0sM2m3Db5PFKAAwAuH/0lJvp9kuTQm0s4kp1fVo6IABQD+fvgfluSv024ty+R6NskbvEAI3AQIaZpmcZKvG/5T4bAk3+q9xhkUAJhya5KcJoapcUKS68TAtHMJgGk/+z877U1/TJ/fq6q7xYACANM3/I9O8qMkB0tjKm1P8htVtVUUTCOXAJjW4b80yTcN/6l2cJKvN03j1c4oADBFrkh7LZjp9vokV4mBaeQSANN49n9ikh/EZj+0ZpO8uarWiwIFACZ3+C9Oe93/eGmwl81Jfr2q9oiCaeESANPmTwx/9uHYJJeJASsAMJln/8f1zv7d9MW+7OmtAmwWBVYAYHKG/6K0b/gz/NmfJUn+fe+7AgoATIgPp73jG17Mqb3vCkw8lwCYhrP/5UmeiL3+mZvtSV5RVc+JAisAMN5WG/7Mw8FJLhUDVgBgvM/+j0jy0yTLpME87E7yKq8NxgoAjK81hj8HYGna3SLBCgCM4dn/iUl+qOhygGaT/FpVPSYKrADAeLnad5wFHh+9JwArADBmZ/8n9c7+YaF+s6oeEgNWAGA8rBYBfXK5CLACAONx9n9M2jv/FVz6wb0AWAGAMbHKd5s+HydXigErANDts/8VSf4u7WNc0C+7k/xzuwNiBQC662LDnwFYmuTjYsAKAHTz7H9pkv+Z5BBpMADbkry8qnaLAisA0C3vNPwZoBVJ3isGFADong+JgAH7mAiYFC4BMBGapjkyyd8qtQzBq6rqcTFgBQC64f2+zwzJ+SLACgB04+w/Sf4mydHSYAi2JPkXVSUJrADAiJ1h+DNERyc5RQwoADB6lmQZtveJgHHnEgBjrWmaRUl+luRQaTBEzyX5Z1U1IwqsAMBonGL4MwKHJnmrGFAAYHTeIQJG5G0iQAGA0TlbBIzImSJgnLkHgLHVNM0xSZ6QBCP0iqp6UgxYAQBn/0yXs0SAAgDD5/o/o/ZbImBcuQTAWGqaZlmS/51kiTQYoV1J/olXBGMFAIbnZMOfDliW5DQxoADA8JwqAjriX4kABQCG53QR0BEni4Bx5B4Axk7TNEvSXv9fJg06YFeSf2xbYKwAwOCdZPjTIcuSHCcGFAAYPDdd0TUuA6AAwBC8TgR0zBtFgAIAg3e8COiY14uAceMmQMZK0zTLk/wf5ZWOmU3yj2wIhBUAGOzZv+8tXTyWHisGFAAYbAGALvIkAAoADNCvi4COeo0IUADACgBWAEABgD5ynRUFAPrAUwCMjd4TAP9XEnTUbJJ/WFV7RIEVAOivI0RAx4+nvqMoADAAR4oAJRUUABQAUABAAWAKvFwEKACgAGAFALrmV0SAAgD9d7gIsAIACgDTZ7kI6LhDRYACAP23TAT4joICgIMrdM1SEaAAgAKA7ygoAODgiu8oKADg4IrvKCgA8OKaplmcZIkkUABAAQAAFAAmWVXNJJmRBB3nVcAoAODgyhTaLQIUAHBwxXcUFABwcGUKWKVCAQAHV5RUUADAwZVpsFMEKADQf9tEQMc9JwIUAFAA8B0FBQAcXLECAAoAHIifiYCO+18iQAEAKwD4joICAA6uTIFnRYACAP33lAjouCdFgAIA/fe4COiw2SRbxYACAH1WVTviMgDd9VRV2a0SBQAGxBIrvpugADCFXAagq7aIAAUABucJEdBRPxEBCgAMzmMioKMeFQEKAAzOBhHQQbNJNooBBQAGpKqejicB6J4tvadUQAGAAXpEBHSM5X8UAHCwZQr9SAQoADB4PxABHfOwCFAAYPDcCEiX7I7LUigAMHhVtS3JJknQlbP/qtotBhQAGI7vioCO+L4IUABgeL4nAjriARGgAMBwD7ozYmDEXP9HAYBhqqqdcec1o3e/6/8oADB83xEBI/YtEaAAwPDdLQJGaDbJvWJAAYAhq6pNSTZLghHZUFXPiAEFAKwCMF0s/6MAwAh9QwSMyFoRMM5eJgLGXdM0TyQ5RhIM0aNV9VoxYAUARutOETBkXxEBCgCM3hfT3pENwzCT5A4xoADAiFXVk0nWS4IhWdd7IRUoANABnxcBQ/IlEaAAQHfclWS7GBiwbXH3PwoAdEdvP3bXZRm0W6pqjxhQAKBb/kIEDNCM7xgKAHRzFWBTkvskwYCstfUvCgB01zUiYEA+KwImiZ0AmThN0/wwyUmSoI8erqo3igErANBt14mAPrtSBCgA0H13JdkiBvpkQ1W5twQFALquqmaSfEoS9MkVIkABgPFxR5Ifi4EFejTJvWJAAYDxWQWYTXKZJFigK6tKCigAMGYl4N4kD0qCA7Qhtv1FAYCxdakIOEAXO/tHAYDxXQV4MK7hMn93VNVDYkABgDE/k0uyWwzM0a4kq8WAAgDjvwqwJckaSTBHV1XV02JAAYDJ8GdJNouBl7A1ybViQAGAyVkF2JPkE5LgJVxcVS4XoQDAhJWA+5PcLgn24/aqukcMKAAwmVYleU4MvMAzSS4SAwoATO4qwLYkH5IEL/CRqtouBhQAmOwScE+Sz0mCni942x8KAEyPVfFUAMlTSVaKAQUApmcVYFeS9yTZI42pNZPkfVW1QxQoADBdJWBjvDFwml3S2yoaFACYQtcmuUsMU+drVXWDGFAAYHpXAZLkA0k2SmNqbEryETEw7V4mAkiapjkyyQ+TrJDGRNuR5HVV9bgosAIApKqeSvK7cVPgJJtNcr7hDwoAvLAEPJSkJDGxPmarX1AAYH8l4LYk/04SE+fyqrpFDPA89wDAPjRNc12SP5LERLi5qrwJEqwAwJysSuKMcfzdGS/5ASsAMM9VgEVJvpLkvdIYS+uSvKOq3NgJVgBg7qpqNu0eAXdLY+ysNfxBAYCFlICZJO9O8mVpjI07kvy+4Q8KAPSjBHwgyZ9Jo/NuTfus/4wo4MW5BwDmoWmaP0xynfLcSTckWdnb3hlQAKDvJeDcJF9KskQanTCbZHVVXSsKUABg0CXgTUm+Hu8OGLXtSd5dVetEAQoADKsEHJHkG0lOlsZIbE7yO/b2hwPjOiYcoKp6OsnpSW6WxtDdl+QNhj9YAYBRrwacl6RJskwaAzWT5Iokn+7t0wAoADDyEnBcki8mOUkaA/FY2kf8HhUFLJxLANAnVbUpyRuTXJpkt0T6ZjbJZ5K81vAHKwDQ9dWAY5N8Pskp0liQrUk+UFXrRQFWAGAcVgM2J/mXST4tjQU7rmmapWIAKwAwDisAR6Z9pfAHkyyXyII9m+T6JDdX1U5xgAIAXRv8xyW5JO0rhBdLpO9+nuSmJDdW1c/FAQoAjHrwn5pkdZKz4tLaMOxMckuS66rqGXGAAgDDHPpJcnZv8LvZbzR2p31V89VVtUUcoADAIAf/4rRL/KuTvFoinTCT5M4ka6rqMXGAAgD9HPzLk3w47c19R0ikk2aT3JPkqqp6RBygAMBCBv+hSS5O8vEkh0hkbHy3tyLwgChAAYD5DP6j8vyjfPb4H18PJ1mT5N6qkgYoALDfwX982uv7fxCP8k2SHye5KsmdXiQECgDsPfhPS7uP/5nSmGhPJrk6yZerao84UABgOof+ojz/KN/JEpkqTye5JsmtVbVLHCgAMB2Df0mS89Lu2nesRKbac3l+m+Ht4kABgMkc/MuTfDTJyiSHS4S97Ehyc5Lrq2qbOFAAYDIG/4o8/yjfwRLhRexKcmuSa6rqaXGgAMB4Dv6j0y7zX5DEK2WZjz1Jbk+7zfDj4kABgPEY/CemvbHvnHiUj4WZTXJX2t0FN4oDBQC6OfjP6A3+t0qDAbgv7e6CD4kCBQBGP/QX9c70Vyc5SSIMwfpeEVgnChQAGP7gX5rk/Wmv8R8jEUZgQ9rdBdfaXRAFAAY/+A9Kezf/xUkOkwgdsLlXBO6oqhlxoABAfwf/YWmf3/9okoMkQgdtTbu74Beqarc4UABgYYP/lWmX+c+LR/kYD8/m+d0Fd4oDBQDmN/hfn/bGvncmWSQRxtDPk9yU5Maq+rk4UABg/0M/aR/hW53kDIn8kq5fX7bnwr7tTHJLkuuq6hlxoADA84N/cZJ39Qb/CRL5BY+kfU3xhqra0fHP8eC0j2JeFY9k7sueJLel3V1wizhQAJjmwb80yQeTrEpytER+ybokbxu3O8t7he4/xyrO/swkuTPt7oKbxIECwDQN/oPz/KN8KySyT7NJXj6uL6TpvYfhb3yML/kZ35t2U6FHxIECwCQP/iPSPsp3YZLlEnlRm6vqV8f88/7bJEf5KOfk/l4RuF8UDIMbdhjWIDg27fX99yZZIpE52e6fYaqckeSMpmkeSbImyT1VJRWsADC2g//k3uA/Ox7lm6/dSX5lXB8fa5pmRZK/i70bDtSmtDdT3ml3QawAMC4H/iQ5qzf4T5PIAVua9nLJ5WP683/U8F+Q45J8NcmVTdNcneS2qtojFqwA0MXBvzjJuWl37TteIn1bBXhVVT01Zt+Fw5P8NO7z6KdnklyX5Ba7C2IFgK4c7Jcl+XDaR/mOlEjfVwGuS/L7Y/ZzX234993hve/CpU3T3JjkpqpyjwVWABjJ4D8kySeTXJTkUIkM1OlVtX5MvhcnJ/mruOdj0HYk+VyS66vqWXGgADCMA/yRvbP9DydZJpGh2JjktV1/53zTNIuS/Nckr/eRDc3uJF9Ick1VbRUHc+USAPM5uB+X9sa+c313hu6EtDsm3trxn/M8w3/olqbdVOvCpmnuSLu74GaxYAWAfgz+U9PuRX9mLOuO0rYkr+jq+wCaplme9sa/w31UIzWbZG2vCGwQB1YAmO/BfFGSt/fO+E+RSCesSPKptJdfuugyw78TFiU5J8k5TdOsS7u74HqxYAWAlxr8S9Lu1ndJkldLpHP2JPm1qnq8Y9+bo5P8j3juv6seSru74H12F8QKAC88gC9Puz//yiRHSKSzliS5PsnbOvZzXWf4d9opSf5Tko1N01yV5K6u31CKFQAGP/hXpH2M7+NJDpHI2Pjtqvp2R75DZyT5no9krDyedq+G2+0uqAAwfYP/qLTL/BfEo3zjaHPaSwEzI/4eLU7y12m3rWX8PJ3kmiS3VtUucUwXlwCmb/CfkPbGvnf5/MfasWk3YbphxD/HhYb/WDsiyY1JLttrd8EdYrECwGQN/jf1Bv+Z0pgY29M+FvjciL5Th6R97M8ukJP1nbo5yY1VtU0cVgAY36G/KMk7e4Pf5iyT5+AkVyb52Ij+/CsM/4n8Tv1Jkj9smubWtLsLPi0WKwCMz+BfkuT9aa/xv1IiE20m7RbBPx7yd+zVSf6bk4iJtyfJ7Umu7tqjp1gB4BcPygelfQf7xbEhyzT9O3xjkjcP+c+93vFjKixJuwX1BU3T3JV2d8GNYrECQHcG/2G9of/RtEt4TJ/fq6q7h/R9e3uS/yjyqXVfrwg8KAoFgNEN/mPSLvO/PzZhmXZbk/xqVe0e8HduSdod/44R+dRbn3ab4XWiGE+W8MZz8J+U9sa+c+LlPLSOSvJHST494D/n3xj+9JyW5LSmaTYkuSrJWrsLWgFgcIP/Lb3B/xZpsA87k7yqqp4Z0PdvRZInkhwkavZhc68I3DHqDaqwAjApQ39R2k17Vic5USK8iOVpt3c9f0C//1WGPy/i2CRfSnJF0zTXJPnCoC9JYQVgUgf/0rTb9K6KJVfmbjbJb1bVw33+Pp6Y5IdxyYm5ezbt0yKfs7ugAsDcDrRL0m7xujrt+99hvh5J8oZ+vfa1aZok+cskp4qWA7A97dsir7Ui0C3afLeG/9uT/PfevyyGPwfq9WmfDOmXcw1/FuDvd6z8SdM054jDCgC/OPgXp10q+6Q06JNn0t4QuHOB381lSX6S5EiR0ie3JvmE1xBbATD8m+bQtO9SN/zpp8OTXNqH32e14U+ffTjJ93rHPqwATO3wX57k+0lOkgYDsDvt5kBbD/D7eWTv7H+ZKBmAR5O82Q2CVgCmcfgvSfJNw58BWpr2fpIDdbXhzwCdmOSbvWMhCsBUWZPkrWJgwM5pmuZNB1BQT0178x8M0lt6RZMRcAlgNGf/p6R9rEoBYxh+nOQ35rpNa2/zqR/GxlMMx2yS071cyArANAz/JWl3y5I9w3J8kgvn8esvMPwZ8hz6oksBCsA0uCB29mP4rmya5iVfFd00zUFpt/yFYTomyQfFoABM8tn/4vTn0SyYr0OTfGoOv+7y2ISK0VjdO0aiAEykc9O+thVG4ZNN0xz7IgX1mLSv+4VROCrJH4hBAZhU7xYBI7Q4yX/ovWjqhcN/WZJvJHEdllF6jwiGx1MAQ9K7/vozB1g6YEOSi5M81PvvpyT5bNz4x+jtSfJPbQ40vDMChuMsw5+OOCnJXyXZ1fvvNvuhK5YkOTPJnaIYPJcAhud1IqBjlhn+dNAbRKAATBrLqwCOlQqALzUA+3CCCIbDTYBD0LvD+v9JAmBO/kFV7RGDFYBJcLAIABwzFYDpc4gIABwzFYDps1QEAI6ZCgAAoAAAAAoAADBgtgKG6TObZG2S7/ROAn4rydudEIACAEyuPUl+t6ru2+t/u7lpmrPjbYAwVTR+mC6rXjD8kyRVdU+Sy8UDCgAweTYkuflF/v/PJHlMTKAAAJPloqqa3d//WVUzSVaKCRQAYHLcUVUPv9Qvqqp1Se4VFygAwPjblWT1PH79yrQ3CwIKADDGrqqqp+f6i6vqySQ3iA0UAGB8bU1y7QH8fWuSPCs+UACA8XRJVe2e799UVTuSXCY+UACA8bO+qu5awN9/W5JHxQgKADA+ZpNcvJDfoPfI4MWiBAUAGB+3VtXGhf4mVfVgkq+JExQAoPu2p7/b+l6S9lFCQAEAOuzKqtrWr9+s9wjh1WIFBQDorseT3DSA3/faJE+JFxQAoJtWVlXfd/GrqvnuJggoAMCQfHtfr/rto68leVDMoAAA3bEnA36TX1Ul7WOBs+IGBQDohpuravOg/5CqejTtBkGAAgCM2HNJrhjin3dpkh1iBwUAGK3Lqmr7sP6w3iOGV4odFABgdDYmuXUEf+6fJ3lS/KAAAKOxsrdn/1D1HjVcKX5QAIDhu6uqHhjVH15V9yZZ52MABQAYnt1p9+gftZVJZnwcoAAAw/GZqto66h+iqh5L8jkfBygAwOA9k2RNh36eT6V9FBFQAIABWt3bm78TqurnvRIAKADAgDyc5PYO/ly3JNnk4wEFAOi/2SQX9/bk75Sqmkn7ngBAAQD67PaqeqSrP1xV3Z9krY8JFACgf3am3YO/61alfUQRUACAPlhTVc90/Yesqi1JbvBxgQIALNy4DdU1aR9VBBQAYAFWVdXYLKtX1bhcrgAFAOis+6tqHG+suz3JIz4+UACAAzOWG+z03lB4uY8PFABg/rZU1YNj/POvi3sBQAEA5u3Jcf7hexsWbfExggIAzM/sBPwzeFUwKAAAgAIAACgAAIACAAAoAACAAgAAKAAAgAIAACgAAIACAAAoAACgAAAACgAAoAAAAAoAAKAAAAAKAACgAAAACgAAoAAAAAoAAKAAAAAKAACgAAAACgAAoAAAAAoAAKAAAIACAAAoAACAAgAAKAAAgAIAACgAAIACAAAoAACAAgAAKAAAgAIAACgAAIACAAAoAACAAgAAKAAAgAIAAAoAAKAA0Gc7RADgmKkATJ9tIgBwzFQAps/2JHvEAPCSdlXVTjEoABOhqjRaAGf/CsCU2ioCAMdKBWD6PCACgJf0fREoAJPmOyIAeEnfFYECMGkeTuLGFoD925HkETEoABOlqvZotgAval1VzYhBAZhE14sAwDFSAZi+VYD1aS8FAPCLHqyqh8SgAEyyq0QA4NioAEyfe5NouQDPW5/kPjEoABOtqmaTnB8vuwBI2q3Sz+/tmIoCMPElYEuSiyQBkE9U1VNiUACmqQR8OcltkgCm2K1VdYcYFIBp9KEkXxADMI3DP4l1fwVgalcBZnsl4CZpAFPkz5N8pHcMZEQWi2DkJSBJLmqa5qdJ1iQ5SCrAhNqR5LKqctJjBYC9isBNSV6T9jFBgEmzNslrDH8rAOy7BDyd5B1N05yZ5F8nOTvJUskAY2pXknuSfL6qvAtFAWAOReDbSb7dNM1BSd6V5I1JjkpyZJIjkiyTEtDBYf/UXn/9ZZK7q8pbUAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAuuj/Az+2NHiqmf8UAAAAAElFTkSuQmCC';
            $('#externalEmpSignImgId').val('');
            $('.empsignimage').css('background-image', 'none');
            $('#signatureImageSrc').val(defaultImg);
            $('#RemoveEmplSignImage').hide();
            var imageUrl = 'data:image/png;base64,'+defaultImg+'';
            $('#dv_EmpSignImage').css('background-image', 'url(' + imageUrl + ')');
        }
    //function CardManagement(Id)
    //{

    //}
    </script>
}